@import "../../scss/mixins/media";
@import "../../scss/variables";
@import "../../scss/mixins/flex";
@import "../../scss/mixins/font";

.label_action_wrapper {
  @include flex(space-between, center);
  margin-bottom: $space_6;
}
.label_text {
  font-family: $inter;
  @include font($fs_13, $fw_regular, $dark_charcoal);
  @include flex(start, center);
  width: 100%;
}
.action_text_wrapper {
  @include flex(end, center);
  width: 100%;
}
.action_text {
  font-family: $inter;
  @include font($fs_13, $fw_regular, $true_blue);
}

.input_field_wrapper {
  position: relative;
  height: 90px;
}

.textarea_field {
  font-family: $inter;
  border: $space_1 solid $philippine_silver;
  height: 100%;
  width: 100%;
  border-radius: $space_3;
  padding: $space_8 $space_12;
  box-sizing: border-box;
  background: transparent;
  box-shadow: $space_0 $space_0 $space_0 $space_2 $white;
  resize: none;
  @include font($fs_13, $fw_regular, $dark_charcoal);

  &:focus {
    border: $space_1 solid transparent;
    outline-color: $true_blue;
    box-shadow: $space_0 $space_0 $space_0 $space_2 $input_focus_shadow_color;
    background: transparent !important;
  }
}

.error_style {
  background: $lavender_blush;
  border-color: $vermilion;
}
.error_text {
  font-family: $inter;
  @include font($fs_12, $fw_regular, $vermilion);
  letter-spacing: 0.5px;
  margin: $space_7 $space_0 $space_0 $space_0;
}
.help_text {
  font-family: $inter;
  @include font($fs_12, $fw_regular, $nickel);
  letter-spacing: 0.5px;
  margin: $space_7 $space_0 $space_0 $space_0;
}
.cross_icon {
  background: transparent;
  border: none;
  position: absolute;
  right: 16px;
  top: 16px;
  height: 30px;
  width: 30px;
  & svg {
    width: 20px;
    height: 17px;
  }
}

@include responsive(tablet) {
  .input_field_wrapper {
    height: 110px;
  }
}

@include responsive(laptop) {
  .action_text,
  .cross_icon {
    cursor: pointer;
  }
}
