@mixin font($size: _, $weight: _, $color: _, $lineHeight:_) {
    @if ($size != _) {
      font-size: $size;
    }
    @if ($weight != _) {
      font-weight: $weight;
    }
    @if ($color != _) {
      color: $color;
    }
    @if ($lineHeight != _) {
      line-height: $lineHeight;
    }
  }