
.css-art2ul-ValueContainer2 {
    padding: 0 !important;
}
.css-13cymwt-control {
    background: red;
    z-index: 2 !important;
    position: fixed;
    left: -5500%;
}
.css-b62m3t-container {
    position: relative;
    box-sizing: border-box;
    top: 40px;
}
.css-art2ul-ValueContainer2{
    display: none;
}