@import "../../../scss/variables";
@import "../../../scss/mixins/flex";
.card_header{
  padding:$space_20;
}
.padding_sm{
    padding: $space_10 ;
  }
.padding_md{
    padding: $space_15 ;
  }
.padding_lg{
    padding: $space_20;
  }
.flex{
    display: flex;
    gap:$space_15;
}
.flex_start{
    justify-content: start;
}
.flex_center{
    justify-content: center;
}
.flex_end{
    justify-content: end;
}
.flex_between{
    justify-content: space-between;
}
.flex_around{
    justify-content: space-around;
}
.border_bottom{
    border-bottom: $space_1 solid $drawn_pink;
}